

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline ">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a [routerLink]="['dashboard']" class="nav-link align-middle px-0">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="/orders" class="nav-link px-0 align-middle">
              <i class="bi bi-border-width"></i> <span style="color: rgb(224, 224, 36);" class="ms-1 d-none d-sm-inline">orders</span></a>
            <ul class="nav flex-column ms-1 dropdown-content" id="submenu1" data-bs-parent="#menu">
              <li >
                <a routerLink="/list" class="nav-link px-0"> <i class="bi bi-dash"></i><span style="color: rgb(168, 168, 19);" class="d-none d-sm-inline">List</span></a>
              </li>
              <li>
                <a routerLink="/add-custom" class="nav-link px-0"><i class="bi bi-dash"></i> <span style="color: rgb(168, 168, 19);" class="d-none d-sm-inline">Add Custom</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/service"  class="nav-link px-0 align-middle">
              <i class="bi bi-server"></i> <span style="color: rgb(224, 224, 36);" class="ms-1 d-none d-sm-inline">Services</span></a>
            <ul class="nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li >
                <a routerLink="/service-list" class="nav-link px-0"> <i class="bi bi-dash"></i><span style="color: rgb(168, 168, 19);" class="d-none d-sm-inline">Service List</span></a>
              </li>
              <li>
                <a routerLink="/service-category" class="nav-link px-0"><i class="bi bi-dash"></i> <span style="color: rgb(168, 168, 19);" class="d-none d-sm-inline">Service Category</span></a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="/coupon" class="nav-link align-middle px-0">
              <i class="bi bi-credit-card-2-back-fill"></i> <span class="ms-1 d-none d-sm-inline">Coupon</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link align-middle px-0">
              <i class="bi bi-book"></i><span class="ms-1 d-none d-sm-inline">About</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link align-middle px-0">
              <i class="bi bi-person-lines-fill"></i><span class="ms-1 d-none d-sm-inline">Contact</span>
            </a>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3">
      <h1 style="color: black; background-color: grey;">My Dashboard</h1>
      <br/>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>